.cart-drawer{
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: right 0.3s ease;
    padding: 20px;
}

.cart-drawer.open{
    right: 0;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-content{
    padding: 5px;
    max-height: 60vh;      
    overflow-y: auto;
}

.close-btn{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-item {
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 16px; 
  text-align: left;
  align-items: flex-start
}

.cart-item li {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
 .delete-btn {
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
  margin: 5px 0px;
}

.close-btn{
  color: black;
  border: solid 1px black;
  font-size: 15px;
  border-radius: 30%;
  padding: 10px 15px;
}
