nav {
    background-color: #333 ;
    color: rgb(146, 125, 125);
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

.link {
    color: aliceblue;
    text-decoration: none;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}



.btnCart{
    background-color: transparent;
    border: none;
}

.fa-solid{
    color: #fff !important;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateX(0);
}
.cart-badge {
  background: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
  position: relative;
  top: -20px;
  right: 0px;
}